/* Style inputs with type="text", select elements and textareas */


input[type=text], select, textarea {
    /* Full width */
     padding: 12px; 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 8px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    /* margin-top: 6px; Add a top margin */
    /* margin-bottom: 16px; Bottom margin */
     resize: vertical ;/*Allow the user to vertically resize the textarea (not horizontally) */
  }
 
  h1{
    margin-left: 1px;
    margin-bottom: 20px;
    color: darkblue;
}
  label{
    color: rgb(163, 160, 160);
    font-family: Arial, Helvetica, sans-serif;
}
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rgb(0, 204, 255);
    color: white;
    padding: 12px 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .border {
    border: 1px solid rgba(211, 211, 211, 0.507);
  }
  .tab{
    color: darkblue;
     font-size: 1;
  }
 
  .overflowAuto {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  