<div class="container">
    <h1>Contact Details</h1><br>
    <form action="action_page.php">
      <div class="row">
        <div class="col-md-4">
          
        </div>
        
          <label for="city">City</label>
          <select id="city" style="margin-left: 17em;"  name="city" class="tab">
            <option value="select">Select</option>
            <option value="SofiaCity">Sofia City</option>
            <option value="techCity">Tech City</option>
            <option value="electronicCity">Electronic City</option>
          </select>
        
  
        
          <input type="text" id="num" name="num" style="margin-left: 7em;" placeholder="Pin Code" class="tab" size="10" required>
        
  
      </div>
      <hr class="border" /><br>
  
  
  
      <label for="street">Street and Number</label>
      <input type="text" id="street" name="streetName" class="tab" style="margin-left: 9em;" placeholder="Street Name"
        required>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="text" id="streetNumber" name="streetNumber" placeholder="Street  number" class="tab" size="10"
        required><br>
      <hr class="border" /><br>
  
      <label for="block">Block,Entrance and Apartment</label>
      <input type="text" id="block" class="tab" style="margin-left: 3em;" placeholder="Block" name="blockName" size="5">
  
      <label for="entranceName"></label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="text" class="tab" id="entranceName" placeholder="Entrance" name="entranceName" size="5">
      <label for="appartmentName"></label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="text" class="tab" id="appartmentName" placeholder="Appartment" name="appartmentName" size="10"><br>
  
      <hr class="border" /><br>
      <label for="phoneNo">Phone Number</label>
      <input type="text" class="tab" style="margin-left: 11em;" id="phoneNo" placeholder="Phone Number"
        pattern="[0-9]{10}" required><br>
  
      <input type="submit" value="Next">
  
    </form>
  </div>