<div class="container">
  <h1>Contact Details</h1><br>
  <form [formGroup]="registerForm" (submit)="submit()">
    <div class="row">
      <div class="col-md-4">

      </div>

      <label for="city">City</label>
      <select id="city" style="margin-left: 17em;" name="city" class="tab" formControlName="city" (change)="change()">
        <option value="select">Select</option>
        <option value="SofiaCity">Sofia City</option>
        <option value="techCity">Tech City</option>
        <option value="electronicCity">Electronic City</option>
      </select>

      <input type="text" id="num" name="num" style="margin-left: 7em;" placeholder="Pin Code" class="tab" size="10" (change)="change()"
        formControlName="pincode">

    </div>
    <hr class="border" /><br>

    <label for="street">Street and Number</label>
    <input type="text" id="street" name="streetName" class="tab" style="margin-left: 9em;" placeholder="Street Name" (change)="change()"
      formControlName="street">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="streetNumber" name="streetNumber" placeholder="Street  number" class="tab" size="10" (change)="change()"
      formControlName="No"><br>
    <hr class="border" /><br>

    <label for="block">Block,Entrance and Apartment</label>
    <input type="text" id="block" class="tab" style="margin-left: 3em;" placeholder="Block" name="blockName" (change)="change()"
      formControlName="block">

    <label for="entranceName"></label>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="tab" id="entranceName" placeholder="Entrance" name="entranceName" (change)="change()"
      formControlName="entrance">
    <label for="appartmentName"></label>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="tab" id="appartmentName" placeholder="Appartment" name="appartmentName" (change)="change()"
      formControlName="appartment"><br>

    <hr class="border" /><br>
    <label for="phoneNo">Phone Number</label>
    <input type="text" class="tab" style="margin-left: 11em;" id="phoneNo" placeholder="Phone Number" (change)="change()"
      formControlName="phone"><br>



  </form>
  <button class="btn btn-primary rounded-pill" type="submit" matStepperNext [disabled]="!registerForm.valid">Next</button>
</div>