/*.container{
   
    padding-top: 50px;
    width: 2000px;
   
      
}*/
.mon{
    text-align: left;
    font-size: 15px;
}
.heading{
    color:rgb(8,56,95);
    font-family: 'Trebuchet MS',Arial,sans-serif;
    font-weight: bold;
} 
.middle-heading{
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 20px;
    padding-left: 20px;
}
.bg-dark-blue{
    background-color:  #003564;
    color: #ffffff;
}
.sub-head{
    font-weight:bold;
}
/* .bgn{
    
    text-align: right;
    font-size: 15px;
    padding-top: 5%;
    
} */
.cardrow{
    padding-left: 20px;
    color:rgb(8,56,95);
}
.nearelm{
    font-size: 20px;
}
.num{
    color:rgb(8,56,95);
    
    font-size: 30px;
    font-weight: bold;
    
    padding: 0%;
   
}
.months{
    color:rgb(8,56,95);
    padding-left: 25%;
}
.whitecard{
    padding: 0%;
    margin-top: 20px;
}
.firstcard{
    /*width:800px;*/
     height: auto;
    /*min-width:100px;*/
 }
 .secondcard{
       
    /*width:800px;*/
    height: auto;
   
    
 }
 .thirdcard{
           
    /*width:800px;*/
    height:auto;
   
}
.thirdparty{
    background-color: rgb(8, 56, 95); 
    height:auto;
    width:800px;
   
}
.policy {
    color:white;
    margin-left:-1px ;
    margin-top: -50px;
    font-size: 20px;
   
}
.bgn  {
color:white;
margin-left: 30px;
}
.card-body{
    padding-top: 2px;
} 
/* 'Times New Roman',Lucida Grande , Arial, Tahomasans-serifTrebuchet MS' */

/*.firstcard{
   width:2000px;
    height:90px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -30px;
    
    }
   
.discription{
        color:rgb(8, 56, 95);
        padding-left: 15px;
        margin-top: -5px;
}
.secondcard{
       
    width:2000px;
    height:110px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -30px;
    
        }

.valuebutton{
            width:80px;
           height:20px;
           padding-top: 1px;
}
.afterpremium{
    padding-left: 15px;
    margin-top: -5px;
}
.afterpremium span{

    color:rgb(8, 56, 95);
}
.bgnpremium {
    margin-right: -180px;
    margin-top: -1px;
    text-align: right;
    color:rgb(8, 56, 95);
    font-size: 20px;
    
}
 .thirdcard{
           
            width:2000px;
            height:550px;
            margin-left: 25px;
            margin-right: 25px;
            margin-top: -30px;
 }*/
 .textcolor{
    
    color:rgb(8, 56, 95);
    margin-top: -20px;
    padding-left: 15px;
    
}

 
 
 .spc{
    padding-left: 2%;
}

 .car{
     margin-left:-5px;
 }

 @media screen and (max-width: 450px){
     .mon{
         margin-top: 0px;
     }
     .bgn{
        margin-left: 18px;
     }
    .whitecard .months{
        padding-left:0%;
        margin-left: 10px;
    }
    .whitecard .num{
        margin-left: 10px;
    }
    .num{
        margin-left: 30px;
    }
    .middle-heading{
        margin-left: 20px;
    }
    .col-lg-12{
       margin-left: 200px;
    }
    .spc{
        margin-top: 0px;
    }
 }
 @media all and (max-width: 767px) {
    .text-small{
        font-size:11px;
    }
}
 @media all and (max-width: 767px) {
    .num{
        font-size: 20px;
        padding-left: 10%;
        text-align: left;
        padding-left: 0%;
        padding-top: 5%;
    }
    .nearelm{
        font-size: 13px;
    }
    .bgn{
        font-size: 12px;
        padding-left: 5%;
        text-align: left;
        
    }
    .mon{
        font-size: 12px;
    }
    .textcolor{
        display: none;
    }
    .middle-heading{
        font-size: 15px;
        padding-left: 5%;
        height:80%;
        padding-top: 0%;
        padding-bottom: 0%;
        
    }
    .adjust{
        padding-left: 0%;
        padding-top: 5%;
    }
    
    .spc{
        padding-left: 6%;
    }
}
@media screen and (max-width: 450px){
    .nextbtn{
        width: 250px;
        margin: auto;
        display: block;
     
        
    }
}