<div class="container col-auto col-lg-8 col-md-10 ">
    <h1 class="heading "><b>Additional covers</b></h1><br>
    <form [formGroup]="additionalcoverForm">
        <div class="row ">
            <div class="card shadow p-3 mb-5 rounded thirdparty">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-lg-7 col-md-8 col-auto col-7 policy">
                            <img width="30px" height="40px" [src]='imageUrl'>
                            Motor Third Party Liability Policy
                        </div>
                        <div class="col-lg-5 col-md-4 col-auto col-5 bgn ">
                            382,00BGN<br>
                            <h6>Four payments</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card shadow p-3 mb-5 bg-white rounded firstcard overflowAuto h-100">
                <div class="card-body ">
                    <label for="none"><input type="radio" formControlName="cover" id="none" name="cover"
                            (change)="change()" value="none">
                        <b> None</b></label>
                    <div class=" discription">Description of additional cover here</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card shadow p-3 mb-5 bg-white rounded secondcard overflowAuto h-100">
                <div class="card-body">
                    <div class="row ">
                        <div class="col-lg-7 col-md-8 col-auto col-7">
                            <label for="premium"><input type="radio" formControlName="cover" id="premium" name="cover"
                                    value="premium" (change)="change()">
                                <b> Premium</b></label>
                            <div class="afterpremium">
                                <button class="btn btn-success valuebutton">
                                    <h6>Best Value</h6>
                                </button>
                                <span> Description of additional cover here</span>
                                <br><a href="www.google.com"><u>See what's more</u></a>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-4 col-auto col-5 bgnpremium">
                            +25,00BGN<br>
                            <h5>for 12 months</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card shadow p-3 mb-5 bg-white rounded thirdcard overflowAuto h-100">
                <div class="card-body ">
                    <div class="row">
                        <div class=" col-lg-7 col-md-8 col-auto col-7">
                            <label for="vip"><input type="radio" formControlName="cover" id="vip" name="cover"
                                    value="vip" (change)="change()"><b> VIP</b></label>
                            <div class=" discription">Description of additional cover here</div><br><br>
                        </div>
                        <div class=" col-lg-5 col-md-4 col-auto col-5 bgnpremium">
                            +80,00BGN<br>
                            <h5>for 12 months</h5>
                        </div>
                    </div>
                    <div class="textcolor">
                        <p><b>
                                Services provded under the "PREMIUM" clause, but with higher
                                limits when transporting vehicles</b></p>
                        <div>
                            <img width="30px" height="20px" src="./assets/tick.jpg">
                            <span>In case of an insurance event(no limit in the number of transports and up to 900 km
                                mileage)
                            </span><br></div>
                        <img width="30px" height="20px" src="./assets/tick.jpg">
                        <span>Technical failure(no mileage limit and up to 2 transports) </span><br>
                        <img width="30px" height="20px" src="./assets/tick.jpg">
                        <span>Wrong fuet(disposable)</span><br><br>
                        <p><b>And more:</b></p>
                        <span><img width="30px" height="20px" src="./assets/tick.jpg">
                            Stay in the parking lot of the damaged car </span><br>
                        <img width="30px" height="20px" src="./assets/tick.jpg" class="visible">
                        <span>Overview in a hotel of the driver of the vehicle </span><br>
                        <img width="30px" height="20px" src="./assets/tick.jpg">
                        <span>Transportation of persons traveling in vehicles, in case the vehicle has suffered damage
                        </span><br>
                        <img width="30px" height="20px" src="./assets/tick.jpg">
                        <span>Medical transportation in case of an accident</span><br>
                        <img width="30px" height="20px" src="./assets/tick.jpg">
                        <span>Costs of examinations, medical examinations and manipulations in case of bodily injuries
                            to
                            the driver and / or persons traveling in the vehicle as a result of the accident</span><br>
                        <img width="30px" height="20px" src="./assets/tick.jpg">
                        <span>In case of damages covered by Casco + insurance - up to 2 vehicle inspections at the
                            address
                            indicated by the client</span><br>
                        <br><a href="www.google.com"><u>Hide what's included</u></a>
                    </div>
                </div>
            </div>
            
        </div>
    </form>
    <button class="btn btn-primary nextbutton" matStepperNext [disabled]="additionalcoverForm.invalid" (click)="next()">Next</button>
</div>