<div class="container">
    <h1 class="heading"><b>Additional covers</b></h1><br>
    <div class="row">

        <div class="card shadow p-3 mb-5  rounded thirdparty">
            <div class="card-body">
                <div class="row">
                    <div class="col-8  policy">
                       
                        <img width="30px" height="20px" [src]='tickimage'>
                        <h1> Motor Third Party Liability Policy</h1>
                    </div>
                    <div class="col-4 bgn ">
                        <div>
                            <h1>382,00BGN<br>
                                <h6>Four payments</h6>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card shadow p-3 mb-5 bg-white rounded firstcard">
            <div class="card-body ">
                <div class="radio">
                    <label for="additionalCovers"><input type="radio" formControlName="additionalcover"
                            id="additionalCovers" name="additionalCovers">
                        <b> None</b></label>
                </div>
                <div class=" discription">Description of additional cover here</div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="card shadow p-3 mb-5 bg-white rounded secondcard">
            <div class="card-body">
                <div class="row">
                    <div class="col-8 ">
                        <div class="radio">
                            <label for="premium"><input type="radio" formControlName="premium" id="premium"
                                    name="premium">
                                <b> Premium</b></label>
                        </div>
                        <div class="afterpremium">
                            <button class="btn btn-success valuebutton">
                                <h6>Best Value</h6>
                            </button>
                            <span> Description of additional cover here</span>
                            <br><a href="www.google.com"><u>See what's more</u></a>
                        </div>

                    </div>

                    <div class="col-4 bgnpremium">
                        
                            <h1>+25,00BGN<br>
                                <h5>for 12 months</h5>
                            </h1>
                       
                    </div>
                </div>


                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card shadow p-3 mb-5 bg-white rounded thirdcard">
            <div class="card-body ">
                <div class="row">
                    <div class="col-8">
                        <div class="radio">
                            <label for="vip"><input type="radio" formControlName="vip" id="vip" name="vip"><b> VIP</b></label>
                        </div>
                        <div class=" discription">Description of additional cover here</div><br><br>
                     </div>
                     <div class="col-4 bgnpremium">
                        <h1>+80,00BGN<br>
                                <h5>for 12 months</h5>
                        </h1>
                    </div>
                </div>
               
                <div class="textcolor" > 
                    <p ><b>
                            Services provded under the "PREMIUM" clause, but with higher
                            limits when transporting vehicles</b></p>
                            <img width="30px" height="20px" [src]='tickimage'>
                           <span >In case of an insurance event(no limit in the number of transports and up to 900 km
                        mileage)
                    </span><br>
                    <img width="30px" height="20px" [src]='tickimage'>
                    <span>Technical failure(no mileage limit and up to 2 transports) </span><br>
                    <img width="30px" height="20px" [src]='tickimage'>
                    <span>Wrong fuet(disposable)</span><br><br>
                  
                    <p ><b>And more:</b></p>
                    <img width="30px" height="20px" [src]='tickimage'>
                    <span>Stay in the parking lot of the damaged car </span><br>
                    <img width="30px" height="20px" [src]='tickimage'>
                    <span>Overview in a hotel of the driver of the vehicle </span><br>
                    <img width="30px" height="20px" [src]='tickimage'>
                    <span>Transportation of persons traveling in vehicles, in case the vehicle has suffered damage
                    </span><br>
                    <img width="30px" height="20px" [src]='tickimage'>
                    <span>Medical transportation in case of an accident</span><br>
                    <img width="30px" height="20px" [src]='tickimage'>
                    <span>Costs of examinations, medical examinations and manipulations in case of bodily injuries to
                        the driver and / or persons traveling in the vehicle as a result of the accident</span><br>
                    <img width="30px" height="20px" [src]='tickimage'>
                    <span>In case of damages covered by Casco + insurance - up to 2 vehicle inspections at the
                        address
                        indicated by the client</span><br>
                    <br><a href="www.google.com"><u>Hide what's included</u></a>
                </div> 
            </div>

        </div>
        
        <button class="btn btn-primary nextbutton"> Next</button>

    </div>

</div>


 