<mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="personalInformation">
      <mat-card>
        <form [formGroup]="personalInformation">
        <ng-template matStepLabel>Tell us about you</ng-template>
        
        <mat-form-field>
          <mat-label>First</mat-label>
          <input matInput placeholder="First name" formControlName="first" required>
          <mat-error *ngIf="personalInformation.controls.first.errors?.required">Please enter the first name</mat-error>
        </mat-form-field><br/>
        <mat-form-field>
          <mat-label>Middle (optional)</mat-label>
          <input matInput placeholder="Middle name (optional)" formControlName="middle">
        </mat-form-field><br/>
        <mat-form-field>
          <mat-label>last</mat-label>
          <input matInput placeholder=" Last name" formControlName="last" required>
          <mat-error *ngIf="personalInformation.controls.last.errors?.required">Please enter the last name</mat-error>
        </mat-form-field><br/>
        <mat-form-field>
          <mat-label>Select Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
          <mat-error *ngIf="personalInformation.controls.gender.errors?.required">Please select the gender</mat-error>
        </mat-form-field><br/>
        <mat-form-field>
          <mat-label>Birth date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="personalInformation.controls.birth.errors?.required">Please select the birth date</mat-error>
        </mat-form-field><br/>
        <mat-form-field>
          <mat-label>SSN</mat-label>
          <input matInput  formControlName="SSN" required>
          <mat-error *ngIf="personalInformation.controls.SSN.errors?.required">Please select the birth date</mat-error>
        </mat-form-field><br/>
        <mat-form-field>
          <mat-label>Email Id</mat-label>
          <input matInput placeholder="karan@gmail.com" formControlName="email" required>
          <mat-error *ngIf="personalInformation.controls.email.errors?.required">Please enter the email id</mat-error>
        </mat-form-field><br/>
  
  
  
  
        <div>
          <button mat-button matStepperNext [disabled]="!personalInformation.valid">Next</button>
        </div>
      </form>
    </mat-card>
      
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" optional>
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>