<mat-horizontal-stepper labelPosition="bottom" #stepper linear>
    
  <mat-step completed={{toggle}}>
    <ng-template matStepLabel>Vehicle Information</ng-template>
    <app-v-info (OnRegister)="courseReg($event)" (OnToggle)="toggle=$event"></app-v-info>
    {{toggle}}
  </mat-step>
  
  
  
  <mat-step [stepControl]="personalInformation">
      <mat-card>
        <form [formGroup]="personalInformation">
        <ng-template matStepLabel>Enter your personal information</ng-template>
        
        <mat-form-field appearance="fill">
          <mat-label>First</mat-label>
          <input matInput placeholder="First name" formControlName="first" required>
          <mat-error *ngIf="personalInformation.controls.first.errors?.required">Please enter the first name</mat-error>
          <mat-error *ngIf="personalInformation.controls.first.errors?.pattern">Please enter the Valid first name</mat-error>
        </mat-form-field><br/>
        <mat-form-field appearance="fill">
          <mat-label>Middle (optional)</mat-label>
          <input matInput placeholder="Middle name (optional)" formControlName="middle">
        </mat-form-field><br/>
        <mat-form-field appearance="fill">
          <mat-label>last</mat-label>
          <input matInput placeholder=" Last name" formControlName="last" required>
          <mat-error *ngIf="personalInformation.controls.last.errors?.required">Please enter the last name</mat-error>
          <mat-error *ngIf="personalInformation.controls.last.errors?.pattern">Please enter the Valid last name</mat-error>
        </mat-form-field><br/>
        <mat-form-field appearance="fill">
          <mat-label>Select Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
          <mat-error *ngIf="personalInformation.controls.gender.errors?.required">Please select the gender</mat-error>
        </mat-form-field><br/>
        <mat-form-field appearance="fill">
          <mat-label>Birth date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="personalInformation.controls.birth.errors?.required">Please select the birth date</mat-error>
        </mat-form-field><br/>
        <mat-form-field appearance="fill">
          <mat-label>SSN</mat-label>
          <input matInput  formControlName="SSN" required>
          <mat-error *ngIf="personalInformation.controls.SSN.errors?.required">Please select the SSN</mat-error>
        </mat-form-field><br/>
        <mat-form-field appearance="fill">
          <mat-label>Email Id</mat-label>
          <input matInput placeholder="karan@gmail.com" formControlName="email" required>
          <mat-error *ngIf="personalInformation.controls.email.errors?.required">Please enter the email id</mat-error>
          <mat-error *ngIf="personalInformation.controls.email.errors?.pattern">Please enter the Valid emailId</mat-error>
        </mat-form-field><br/>
  
  
  
  
        <div>
          <button mat-raised-button  matStepperNext>Next</button>
        </div>
      </form>
    </mat-card>
      
    </mat-step>
    <mat-step [stepControl]="addressForm" >
      <form [formGroup]="addressForm">
        <ng-template matStepLabel>Enter your address details</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Mailing address</mat-label>
          <input matInput formControlName="mailingAddress" placeholder="Ex. 1 Main St, New York, NY" required>
          <mat-error *ngIf="addressForm.controls.mailingAddress.errors?.required">Please enter the mailing address</mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>city</mat-label>
          <input matInput formControlName="city" placeholder="pune" required>
          <mat-error *ngIf="addressForm.controls.city.errors?.required">Please enter the city</mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>state</mat-label>
          <input matInput formControlName="state" placeholder="Maharastra" required>
          <mat-error *ngIf="addressForm.controls.state.errors?.required">Please enter the state</mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Phone no</mat-label>
          <input matInput formControlName="phoneNo" placeholder="7507820170" required>
          <mat-error *ngIf="addressForm.controls.phoneNo.errors?.required">Please enter the phone no</mat-error>
          <mat-error *ngIf="addressForm.controls.phoneNo.errors?.minlength ">Please enter the Valid phone no</mat-error>
          <mat-error *ngIf="addressForm.controls.phoneNo.errors?.maxlength ">Please enter the Valid phone no</mat-error>
        </mat-form-field><br>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmation</ng-template>
      <mat-checkbox (change)="checked($event)">I agree to the Terms and Conditions"</mat-checkbox><br><br>
      <button mat-button color="primary" (click)="onSubmit()" [disabled]="!status">Submit </button><br><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>