.row{
    margin: 0;
}
.heading{
    color:rgb(8,56,95);
    font-family: 'Trebuchet MS',Arial,sans-serif;
    font-weight: bold;
} 
.bg-dark-blue{
    background-color:  #003564;
    color: #ffffff;
}
.middle-heading{
    display: flex;
    height: 100%;
    align-items: center;
}
.radio{
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}
.radio-inner{
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0;
    cursor: pointer;
}
.radio-action{
    width: 25px;
}
input[type="checkbox" i]{
    margin: 0px 8px 0px 0px;
}
.buy-btn{
    border-radius:20px;
}
.user-key{
    width: 40px;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: -17px;
}
.text-color{
    color: #003564
}
.nearelm{
    font-size: 20px;
}
.num{
    
    
    font-size: 30px;
    font-weight: bold;
    
}
.text-small{
    font-size: 20px;
    padding-left: 0%;
}
@media all and (max-width: 767px) {
    .text-small{
        font-size:11px;
        
    }
}
@media screen and (max-width: 450px){

.num{
    font-size: 20px;
    
}
.nearelm{
    font-size: 13px;
 }
}
/*@media all and (min-width: 1024px){
    .text-small{
        padding-left: 3%;
        font-size: 12px;
        
    }
    .num{
        font-size: 15px;
        padding-left: 5%;
    }
    .nearelm{
        font-size: 10px;
    }
   
}*/