<h1 class="display-1">Policy Details</h1>
<form [formGroup]="registerForm">
<div class="form-row">
    <div class="col-9">
        Start Date
    </div>
    <div class="col-3">
        <input class="form-control" type="date" formControlName="policyDate" (change)="change()">
    </div>
</div>
<hr>
<div class="form-row">
    <div class="col-9">
        Policy length
    </div>
    <div class="col-3">
        <select formControlName="policyLength" class="form-control" (change)="change()">
            <option value="1">1 Month</option>
            <option value="3">3 Months</option>
            <option value="6">6 Months</option>
            <option value="12">12 Months</option>
        </select>
    </div>
</div>
<hr>
<!-- <div class="card">
    <div class="card-body">
        <input type="checkbox" formControlName="check1" (change)="change()"> I have read and accepted <span class="text-primary">"Personal Data Protection Information"</span>
    </div>
</div>
<br>
<div class="card ">
    <div class="card-body">
        <input type="checkbox" formControlName="check2" (change)="change()"> I have read the <span class="text-primary">"Motor Insurance Third Party Liability Insurance Document"</span>
    </div>
</div> -->
<div class=" border shadow p-3 mb-3 bg-white rounded">
    <input type="checkbox" formControlName="check1" (change)="change()"> I have read and accepted <span class="text-primary">"Personal Data Protection Information"</span>

</div>
<div class="border shadow p-3 mb-3 bg-white rounded">
    <input type="checkbox" formControlName="check2" (change)="change()"> I have read the <span class="text-primary">"Motor Insurance Third Party Liability Insurance Document"</span>

</div>
<br>
</form>
<button class="btn btn-primary rounded-pill" (click)="submit()" mat-raised-button  matStepperNext [disabled]="!registerForm.valid">Calculate</button>