<h1 class="display-1"
    style="color:rgb(8,56,95); font-size: 200%;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <b>Vehicle Information</b></h1>
<form [formGroup]="vehicleInfoForm"  style="color:rgb(8,56,95)">
    <div class="form-row">
        <div class="   col-sm-4 col-md-8 col-lg-8"> <br>
            <label for="registrationNumber">Vehicle Registration Number</label>
        </div>
        <div class="  col-sm-4 col-md-4 col-lg-4">
            <input class="form-control" id="registrationNumber" type="text" placeholder="XX0000XX" formControlName="registrationNumber"
                (change)="change()" value={{registrationNumber}}>
            <div class="error"
                *ngIf="formsControl.registrationNumber.touched && formsControl.registrationNumber.errors">
                <div *ngIf="formsControl.registrationNumber.errors.required">Vehicle Registartion Number is required
                </div>
                <div
                    *ngIf="formsControl.registrationNumber.errors.minlength || formsControl.registrationNumber.errors.maxlength">
                    Vehicle Registartion Number Should be 8 characters </div>
            </div>
        </div>

    </div>
    <hr class="line">

    <div class="form-row">
        <div class=" col-sm-4 col-md-8 col-lg-8"><br>
            <label for="certificateNumber"> Vehicle Certificate Number<br>
            <a href=""><u>Where can I find this number?</u></a></label>
        </div>
        <div class=" col-sm-4 col-md-4 col-lg-4">
            <input class="form-control" id="certificateNumber" type="text" placeholder="000000000" formControlName="certificateNumber"
                (change)="change()" value={{certificateNumber}}>
            <div class="error" *ngIf="formsControl.certificateNumber.touched && formsControl.certificateNumber.errors">
                <div *ngIf="formsControl.certificateNumber.errors.required">Vehicle Certificate Number is required
                </div>
                <div
                    *ngIf="formsControl.certificateNumber.errors.minlength || formsControl.certificateNumber.errors.maxlength">
                    Vehicle Certificate Number Should be 9 characters </div>
            </div>
        </div>
    </div>
    <hr class="line">

    <div class="form-row">
        <div class=" col-sm-4 col-md-8 col-lg-8"><br>
            <label for="purpose"> What purpose does this vehicle serve?</label>
        </div>
        <div class=" col-sm-4 col-md-4 col-lg-4">
            <select formControlName="purpose" class="form-control" (change)="change()">
                <option  [selected]="''===purpose" disabled value="" id="purpose">--SELECT--</option>
                <option [selected]="p===purpose" *ngFor="let p of purposeList" value='p'>{{p}}</option>
            </select>
            <div class="error" *ngIf="formsControl.purpose.touched && formsControl.purpose.errors">
                <div *ngIf="formsControl.purpose.errors.required">Please select what purpose does this vehicle serve
                </div>
            </div>
        </div>
    </div>
    <hr class="line">

    <div class="form-row"><br>
        <div class=" col-sm-4 col-md-8 col-lg-8"><br>
           <label for="Driving">
               Are you Driving outside Bulgarian territory with this vehicle for more than 60 days?
           </label>
        </div>
      
        <div class="col-sm-4 col-md-4 col-lg-4"><br>
            
            <input type="radio" id="Driving" name="yesNo" (change)="change()" formControlName="yesNo" value="Yes" [checked]="yesNo=='Yes'">Yes &nbsp;&nbsp;
            <input type="radio" id="Driving" name="yesNo" (change)="change()" formControlName="yesNo" value="No" [checked]="yesNo=='No'">No
        </div>
        
    </div>
    <hr class="line">

</form><br>

<button class="btn btn-primary rounded-pill col-sm-12 col-lg-2 col-md-4" (click)="submit()" matStepperNext
    [disabled]="!vehicleInfoForm.valid">Next</button>

<!-- {{vehicleInfoForm.value | json}} -->