<h1 class="display-1">Vehicle Information</h1>
<form [formGroup]="vehicleInfoForm">
    <div class="form-row">
        <div class="col-9">
            Vehicle Registration Number 
        </div>
        <div class="col-3">
            <input class="form-control" type="text" placeholder="XX0000XX" formControlName="registrationNumber" (change)="change()">
        </div>  
    </div>
    <hr>
    
    
    <div class="form-row">
        <div class="col-9">
            Vehicle Certificate Number <br>
            <a href=""><u>Where can I find this number?</u></a>
        </div>
        <div class="col-3">
            <input class="form-control" type="text" placeholder="000000000"  formControlName="certificateNumber" (change)="change()"> 
        </div>
    </div>
    <hr>
    

    <div class="form-row">
        <div class="col-8">
            What purpose does this vehicle serve?
        </div>
        <div class="col-4">
            <select formControlName="purpose" class="form-control" (change)="change()">
                <option value="personal">Personal Use</option>
                <option value="public">Public Use</option>
                
            </select>    
        </div>
    </div>
    <hr>


    <div class="form-row" >
        <div class="col-9" >
            Are you Driving outside Bulgarian territory with this vehicle for more than 60 days?
        </div>
        <div class="col-3">
            <input type="radio" name="optradio" (change)="change()" formControlName="yesNo" value="Yes">Yes &nbsp;&nbsp;
            <input type="radio" name="optradio" (change)="change()" formControlName="yesNo" value="No">No
        </div>
    </div>
    <hr>


</form><br>

<button class="btn btn-primary rounded-pill" (click)="submit()" mat-raised-button  matStepperNext [disabled]="!vehicleInfoForm.valid">Next</button>

<!-- {{vehicleInfoForm.value | json}} -->