.edit_prop{
    color: dodgerblue;
}

.email_btn_prop{
    border-radius: 3rem;
    margin-right: 1rem;
}

.label_prop{
    color:rgb(8,56,95);
    font-family: 'Trebuchet MS',Arial,sans-serif;
    font-weight: bold;
    margin-left: 1rem;
}
.middle-heading{
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 17px;
    padding-left: 20px;
    /* padding-top: 2rem; */

}
.img-middle{
    align-items: center;
}
.card-num{
    font-size: 20px;
    font-weight: bold;
}
.sub_label_prop{
    font-size: small;
}
h6{
    color: rgb(0, 53, 103); 
}
p{
    color: rgb(80, 108, 134); 
    text-align: justify;
}
input{
    color: rgb(0, 53, 103); 
    border:none;
    outline: no;
}


.card_bg{
    background-color:  #003564;
    color: #ffffff;
    /* background-color: 	rgb(0, 53, 103);*/
    border-radius: 0.5rem; 
}

.shadow{
    box-shadow: darkgray;
}

.font_color{
    color:rgb(0, 53, 103);
}
.tick{
    width: 30px;
    height: 20px;
    margin-left: -1rem;
}
.text{
    margin-left: -1rem;
    color:rgb(8,56,95);
}
.nearelm{
    font-size: 20px;
}
.num{
    color:rgb(8,56,95);
    
    font-size: 30px;
    font-weight: bold;
    
    padding: 0%;
   
}
.bgn  {
    color:white;
    /* margin-left: 30px; */
    margin-left: auto;
    }



@media screen and (max-width: 450px){
    .bgn{
        margin-left: 18px;
     }
     .num{
        margin-left: 30px;
    }
    .middle-heading{
        margin-left: 20px;
        font-size: 15px;
    }

}

@media all and (max-width: 767px) {
    .middle-heading{
        font-size: 15px;
        padding-left: 5%;
        height:80%;
        padding-top: 0%;
        padding-bottom: 0%;
        
    }
    .text-small{
        font-size:11px;
    }
    .num{
        font-size: 20px;
        padding-left: 10%;
        text-align: left;
        padding-left: 0%;
        padding-top: 5%;
    }
    .nearelm{
        font-size: 13px;
    }
    .bgn{
        font-size: 12px;
        padding-left: 5%;
        text-align: left;
        
    }
}
