<div class="col-12 offset-1">
<h1 class="display-1 ">Insuring Party</h1>
<form [formGroup]="insuringParty">
    <div class="form-row">
        <div class="col-8">
            Enter your EGN/EIK/LNCH
        </div>
        <div class="col-4">
            <input class="form-control" type="text" formControlName="egn" >
        </div>  
    </div>
    <hr>
    
    <div class="form-row">
        <div class="col-8">
            Place of Permanent Residence?
        </div>
        <div class="col-4">
            <select formControlName="address" class="form-control">
                <option value="delhi">Delhi</option>
                <option value="mumbai">Mumbai</option>
                
            </select>    
        </div>
    </div>

    <hr>
    <div class="form-row">
        <div class="col-8">
            Email
        </div>
        <div class="col-4">
            <input class="form-control" type="email"  formControlName="email"> 
        </div>
    </div>
    <hr>
    <button type="button" class="btn btn-primary badge-pill pl-4 pr-4 pt-2 pb-2" style="margin-right: 0;" (click)="next()" [disabled]="insuringParty.invalid">Next</button>
</form>
</div>
