<h1 class="display-1 " style="color:rgb(8,56,95)"><b>Insuring Party</b></h1>
    <form [formGroup]="insuringParty">
        <div class="form-row">
            <div class="col-sm-4 col-md-8 col-lg-8"><br>
                <label for="egn">Enter your EGN/EIK/LNCH<br>
                <a href=""><u>Who's data should I fill in?</u> </a></label>
           
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <input class="form-control" id="egn" type="text" formControlName="egn" (change)="change()"
                    placeholder="Enter your EGN/EIK/LNCH">
                <div *ngIf="insuringParty.controls.egn.hasError('required') &&(insuringParty.controls.egn.dirty || insuringParty.controls.egn.touched)"
                    class="error">This field is mandatory</div>
                <div *ngIf="insuringParty.controls.egn.hasError('pattern') &&(insuringParty.controls.egn.dirty || insuringParty.controls.egn.touched)"
                    class="error">Only 10 digit numerical value allowed</div>
            </div>
        </div>
        <hr class="line">

        <div class="form-row">
            <div class="col-sm-4 col-md-8 col-lg-8"><br>
               <label for="address">Place of Permanent Residence?</label>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <select formControlName="address" class="form-control" (change)="change()">
                    <option selected disabled value="" id="address">--SELECT--</option>
                    <option value="delhi" id="address">Delhi</option>
                    <option value="mumbai" id="address">Mumbai</option>
                </select>
                <div class="error" *ngIf="formsControl.address.touched && formsControl.address.errors">
                    <div *ngIf="formsControl.address.errors.required">This field is mandatory</div>
                </div>
            </div>
        </div>

        <hr class="line">
        <div class="form-row">
            <div class="col-sm-4 col-md-8 col-lg-8"><br>
                <label for="email"> Email</label>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <input class="form-control" id="email" type="email" formControlName="email" (change)="change()"
                    placeholder="Enter you email">
                <div class="error" *ngIf="formsControl.email.touched && formsControl.email.errors">
                    <div *ngIf="formsControl.email.errors.required">This field is mandatory</div>
                    <div *ngIf="formsControl.email.errors.pattern">Please enter a valid email</div>
                </div>
            </div>
        </div>
        <hr class="line"><br>
        <button type="button" class="btn btn-primary rounded-pill col-sm-12 col-lg-2 col-md-4" 
            (click)="submit()" matStepperNext [disabled]="insuringParty.invalid">Next</button>
    </form>
