.monospace {
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
    color: midnightblue;
  }
  .btn{
    border-radius: 15px;

  }
  .example-card{
   width: 100%;
    
    
  }
  .images{
    max-width:100 px;

  }
.example-full-width{
  width: 100%;
  position:center;
}
