
<div class="container"> 
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <div class="images"> 
        <img src="../../../assets/WhatsApp Image 2020-06-15 at 7.54.49 PM.jpeg"/>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>  

      <mat-card class="example-card">
        <img src="../../../assets/logo.jpeg"/>
          
            <mat-card-title class="monospace">Sign In</mat-card-title>
         
          
          <div class="text-primary">Forget Password?</div>
          
          <mat-card-content>
            <form class="example-form">
              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td>
                  <mat-label > Email</mat-label><br>
                    <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Enter your email" [(ngModel)]="email" name="email" required>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                    
                <td>
                  <mat-label > Password</mat-label><br>
                  <mat-form-field class="example-full-width" appearance="outline">
                  <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
                </mat-form-field></td>
              </tr></table>
            </form>
          </mat-card-content>
          <mat-card-actions>
            &nbsp;&nbsp;&nbsp;<button mat-raised-button (click)="login()" class="btn btn-primary btn">Login</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    
  </mat-grid-list>
  
  

</div>