<meta name="viewport" content="width=device-width, initial-scale=1">
<h1 class="heading">Instalment options</h1><br />
<form [formGroup]="installmentForm" (submit)="submit()">
    <!--<div class="form-check" style="padding-left: 0px !important; ">
                            <div class="form-row">-->
    <div>
        <div class="border shadow p-3 mb-3 bg-white rounded firstcard" *ngFor="let element of serviceData">
            <div class="row cardrow">
                <div class="col-auto mr-auto pt-1">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="term" formControlName="term" [(ngModel)]="termSelected"
                            value={{element.title}} (change)="change()" [checked]="termSelected===element.title">
                        <h3 class="sub-head">{{element.title}}</h3>
                    </label>
                    <div><button class="btn btn-success mon">{{element.subtitle}}</button></div>
                </div>
                <div class="col-sm-6 col-auto col-8">
                    <div class="num">{{element.amount}}<span class="nearelm"> BGN</span></div>
                    <div class="bgn" style="color: green;font-weight: bold;">
                        You save {{element.saving}} BGN
                    </div>
                </div>
            </div>
            <div *ngIf="element.installmentsCount>1">
                <hr class="cardhr">
                <div class="viewins">
                    <a href="#">View Instalments</a>
                </div>
                <div class="row viewhide">
                    <div class="col-auto mr-auto pt-2 col-sm"
                        *ngFor="let installments of element.installments;let indexOfElement=index;">
                        {{indexOfElement + 1 | ordinal}} Installment
                        <div style="font-weight: bold;">{{installments}} BGN</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hrline">
    <div class="form-row content">
        <div class="col-0 imgsz"><img width="30px" height="20px" src="./assets/tick.jpg" />
        </div>
        <span class="col-10 wid">
            Premiums indicated are final and include Contribution to the Guarantee and Insurance Fund, sticker and 2%
            tax on insurance premiums.
        </span>
    </div>
    <br />
    <div class="form-row content">
        <div class="col-0 imgsz"><img width="30px" height="20px" src="./assets/tick.jpg" /></div>
        <span class="col-10 wid">
            The insurance premium is calculated with included - 5% Discount for insurance with "Casco+"
        </span>
    </div>
    <br />
    <div class="form-row content">
        <div class="col-0 imgsz"><img width="30px" height="20px" src="./assets/tick.jpg" /></div>
        <span class="col-10 wid">
            Annual Technical Inspection Voucher
        </span>
    </div>
    <hr class="hrline">
    <button class="btn btn-primary rounded-pill  col-sm-4 col-lg-2 col-md-3 nextbtn" matStepperNext type="submit"
        [disabled]="installmentForm.invalid"> Next </button>
</form>