html, body {
    width: 100%;
  }
  
  h1 {
    font-size: 26px;
    padding: 40px 0 100px 20%;
    margin-bottom: 50px;
    margin-left: 200px;
  }
  
  label, p, a, h1, div {
    font-family: Roboto, sans-serif;
  }
  
  .tab-wrap {
    width: 70%;
    margin-left: 15%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: -106px;
  }
  
  input[type="radio"][name="tabs"] {
    position: absolute;
    z-index: -1;
    display: none;
  }
  
  input[type="radio"][name="tabs"]:checked + .tab-label-content label {
    color:rgb(34, 34, 185);
  }
  
  input[type="radio"][name="tabs"]:checked + .tab-label-content .tab-content {
    display: block;
  }
  
  input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .slide {
    left: calc((100% / 6) * 0);
  }
  
  input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .slide {
    left: calc((100% / 6) * 1);
  }
  
  input[type="radio"][name="tabs"]:nth-of-type(3):checked ~ .slide {
    left: calc((100% / 6) * 2);
  }
  
  input[type="radio"][name="tabs"]:nth-of-type(4):checked ~ .slide {
    left: calc((100% / 6) * 3);
  }

  input[type="radio"][name="tabs"]:nth-of-type(5):checked ~ .slide {
    left: calc((100% / 6) * 4);
  }
  
  input[type="radio"][name="tabs"]:nth-of-type(6):checked ~ .slide {
    left: calc((100% / 6) * 5);
  }
  input[type="radio"][name="tabs"]:first-of-type:checked ~ .slide {
    left: 0;
  }
  
  label {
    cursor: pointer;
    color:rgb(102, 102, 110);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 56px;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    width: 100%;
  }
  
  .slide {
    background:#00bcd4;
    width: calc(100% /6);
    height: 4px;
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    -webkit-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;
  }
  
  .tab-label-content {
    width: 100%;
  }
  
  .tab-label-content .tab-content {
    position: absolute;
    top: 100px;
    left: 16px;
    line-height: 130%;
    display: none;
  }
  
  @media screen and (max-width: 800px) {
    h1 {
      padding: 40px 0 90px 10%;
    }
    .tab-wrap {
      width: 80%;
      margin-left: 10%;
      top: -106px;
    }
  }

  