<div class= "container">
    <h1>Vehicle Owner</h1>
    
    <div class="container"> 
        <div class="row">
        <label class="col-md-5">Are u the owner of the vehicle</label>
          <label class="radio-inline col-md-3">
            <input type="radio" name="gender" id="Radios1" value="Yes" (click)="setradio('Yes')" (change)="toggle(true)">
            Yes
          </label>
          
          <label class="radio-inline col-md-3">
            <input type="radio" name="gender" id="Radios2" value="No" (click)="setradio('No')" (change)="toggle(false)">
            No
          </label>
        </div>
    </div> 

    <hr>
    <div *ngIf="isSelected('Yes')">  
        <button type="button" class="btn btn-primary" [disabled]="!button" matStepperNext>Next</button>
    </div>
    
    <div *ngIf="isSelected('No')">
        <form [formGroup]="Details" (ngSubmit)="submit()">
        <h2 class="col-md-12">Vehicle Owner Details</h2>
    
        <div class="form-group row">
            <label for="lnch" class="col-md-8  col-form-label">Enter your Number</label>
            <div class="col-md-4 col-xs-4">
            <input type="text" class="form-control" id="Number" placeholder="Enter your Number" formControlName="Number"  name="Number" (change)="change()">
            <div *ngIf="Details.controls.Number.hasError('required') &&(Details.controls.Number.dirty || Details.controls.Number.touched)" class="error">Please enter the number</div>
            </div>
        </div>
        <hr>
        <div formGroupName="fullname">
            <label class="">Full Name</label><br>
          <div class="form-group row">
            
            <div class="col-md-4">
            <input type="text" class="form-control" id="firstname" placeholder="Enter firstname" formControlName="firstname"  name="firstname" (change)="change()">
            <div *ngIf="Details.get('fullname').get('firstname').hasError('required') &&(Details.get('fullname').get('firstname').dirty || Details.get('fullname').get('firstname').touched)" class="error">Please enter your first name</div>
            </div>
            <div class="col-md-4 ">
            <input type="text" class="form-control" id="lastname" placeholder="Enter lastname" formControlName="lastname"  name="lastname" (change)="change()">
            <div *ngIf="Details.get('fullname').get('lastname').hasError('required') &&(Details.get('fullname').get('lastname').dirty || Details.get('fullname').get('lastname').touched)" class="error">Please enter your lastname</div>
            </div>
            <div class="col-md-4">
            <input type="text" class="form-control" id="surname" placeholder="Enter surname" formControlName="surname"  name="suname" (change)="change()">
            </div>
          </div>
         </div>
         <hr>
         <div formGroupName="fullnameeng">
            <label>Full Name in English</label><br>
            <div class="form-group row">
                <div class="col-md-4">
              <input type="text" class="form-control" id="firstnameeng" placeholder="Enter firstname" formControlName="firstnameeng"  name="firstnameeng" (change)="change()">
              <div *ngIf="Details.get('fullnameeng').get('firstnameeng').hasError('required') &&(Details.get('fullnameeng').get('firstnameeng').dirty || Details.get('fullnameeng').get('firstnameeng').touched)" class="error">Please enter your first name</div>
              </div>
              <div class="col-md-4">
              <input type="text" class="form-control" id="lastnameeng" placeholder="Enter lastname" formControlName="lastnameeng"  name="lastnameeng" (change)="change()">
              <div *ngIf="Details.get('fullnameeng').get('lastnameeng').hasError('required') &&(Details.get('fullnameeng').get('lastnameeng').dirty || Details.get('fullnameeng').get('lastnameeng').touched)" class="error">Please enter your lastname</div>
              </div>
              <div class="col-md-4">
              <input type="text" class="form-control" id="surnameeng" placeholder="Enter surname" formControlName="surnameeng"  name="sunameeng" (change)="change()">
            </div>
            </div>
           </div>

           
           <div class="form-group" style="width:inherit" >
            
                <div class="card border-warning mb-4">
                    <img class="user-key" src="../../assets/excl.jpg">
                    <div class="card-body">
                        <p class="card-text text-color">
                            Please compare data in Latin with data in the vehicle registration certificate
                            or identity document.Data will be used for printout of Green Card
                            Certificate.
                        </p>
                    </div>
                </div>
            
            <!-- </div> -->
            </div>
        
        
    
        <div class="form-group row">
            <label for="citizen" class="col-md-6 col-form-label">Citizenship</label>
            <div class="col-md-6">
            <select class="form-control" id="citizen" formControlName="citizen" name="citizen" (change)="change()">
              <option value="">select</option>
              <option *ngFor="let c of citizens" [value]="c">{{c}}</option>
            </select>
            <div *ngIf="Details.controls.citizen.hasError('required') &&(Details.controls.citizen.dirty || Details.controls.citizen.touched)" class="error">Please select your Citizenship</div>
            </div>
          </div>
        <hr>
        <div class="form-group row">
            <label for="birth" class="col-md-6 col-form-label">Birth Date</label>
            <div class="col-md-6">
            <input type="date" class="form-control"  id="birth" placeholder="Enter Birth date" formControlName="birth"  name="birth" (change)="change()">
            <div *ngIf="Details.controls.birth.hasError('required') &&(Details.controls.birth.dirty || Details.controls.birth.touched)" class="error">Please select your birth date </div>
            </div>
        </div>
        
        <div class="h-divider">
        </div>
    
        <h2>
            Contact Information
        </h2>
        
    
        <div class="form-group row">
                <label for="city" class="col-md-4 col-form-label">City</label>
           
            <div class="col-md-4">
                <select class="form-control" id="sel1" formControlName="city"  name="city" (change)="change()">
                    <option value="">select</option>
                    <option value="Hyd">Hyderabad</option>
                    <option value="Mum">Mumbai</option>
                    <option value="Pune">Pune</option>
                    <option value="Chenai">Chennai</option>
                    <option value="Banglore">Banglore</option>
                    <option value="Goa">Goa</option>
                    <option value="Maharashtra">Maharashtra</option>
                    
                </select>
                <div *ngIf="Details.controls.city.hasError('required') &&(Details.controls.city.dirty || Details.controls.city.touched)" class="error">Please select your City</div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="1000" (change)="change()">
                </div>
           </div>
        </div>
        
        <hr>
        <div class="form-group row">
            <div class="col-md-4">
                <label for="s&n" class="col-form-label">Street & Number </label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control"  formControlName="street" (change)="change()">
                <div *ngIf="Details.controls.street.hasError('required') &&(Details.controls.street.dirty || Details.controls.street.touched)" class="error">Please select your street</div>

            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" formControlName="No" (change)="change()">
                <div *ngIf="Details.controls.No.hasError('required') &&(Details.controls.No.dirty || Details.controls.No.touched)" class="error">Please enter your House NO</div>
            </div>
    
        </div>
        <hr>
        <div class="form-group row">
            <div class="col-md-4">
            <label for="be&a">Block Entrance&Apartment </label>
            </div>
            <div class="col-xs-2 col-md-4">
                <input type="text" class="form-control"  (change)="change()">
    
            </div>
            <div class="col-xs-2 col-md-4">
                <input type="text" class="form-control"  (change)="change()">
            </div>
            <div class="col-xs-2 col-md-4">
                <input type="text" class="form-control"  (change)="change()">
            </div>
        </div>
    
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!Details.valid" matStepperNext>Next</button>
        </form>
       
    </div>
    </div>