/* .form-control{
    width:180px
} */


h1{
    
    color:rgb(8,56,95); 
    font-size: 200%;
    font-family:Arial, Helvetica, sans-serif
}
h2{
    color:rgb(8,56,95); 
    font-family:Arial, Helvetica, sans-serif
}
label{
    color:rgb(8,56,95);
    font-family: Arial, Helvetica, sans-serif;
}
/* .col-sm-4{
    padding-left: 205px;
   
} */

.panel{
    border-color:yellow;
    /* width: 555px; */
}
.error{
    color: red;
}
.btn{
    
    min-width: 100px;
  }

  @media screen and (max-width: 450px){
    .btn{
        width: 250px;
        margin: auto;   
    }
}


@media screen and (max-width: 800px) {
    .line{
        display : none;
    }
}
@media screen and (max-width: 1090px){
    .space{
        padding: 4px;
    }
    
}

/* .col-sm-2
{
    
   /* width:200px;  
} */
.user-key{
    width: 40px;
    position: absolute;
  
    top: 10px;
    left: -17px;
}

