<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Delivery</title>
</head>
<body>
    <div class="container" style="padding-bottom: 200px;">
        <!-- Heading -->
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1 class="display-1 text-primary" style="font-size: 45px;">Delivery Address</h1>
            </div>
        </div><br><br>
        <!-- Heading -->

        <!-- Address -->
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1" style="font-size: large;">
                <div class="shadow-lg p-3 mb-5 bg-white rounded">
                    <div style="padding-left: 10px;">
                        <input (click)="toggle1()" type="radio" style="height: 25px; width: 25px;" name="address">
                        <span style="padding-left: 10px;">11, Race Course Road</span><br>
                        <span style="padding-left: 36px;">New Delhi, India</span><br>
                        <span style="padding-left: 36px;">110002</span>
                    </div>                    
                </div>
            </div>
        </div><br>
        <!-- Address -->
        
        <!-- Others -->
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1" style="font-size: large;">
                <div class="shadow-lg p-3 mb-5 bg-white rounded">
                    <div style="padding-left: 10px;">
                        <input (click)="toggle()" type="radio" style="height: 25px; width: 25px;" name="address">
                        <span style="padding-left: 10px;">Others</span>
                    </div>                    
                </div>
            </div>
        </div><br>
        <!-- Others -->

        <!-- Form -->
        <div class="row" *ngIf="submitted">
            <div class="col-sm-10 col-sm-offset-1">
                <div style="padding-left: 15px; border-radius: 10px; background-color: #F0F8FF;">
                    <div class="row" style="padding-top: 30px;">
                        <div class="col-sm-3" style="padding-left: 20px; font-size: medium;">
                            <span>Full Name</span>
                        </div>
                        <div class="col-sm-6 col-sm-offset-2">
                            <form class="form">
                                <div class="form-group">
                                    <input type="text" class="form-control text-primary" style="height: 40px; font-size: large; border-radius: 10px;">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div style="padding-right: 15px;"><hr></div>
                    <div class="row" style="padding-top: 30px;">
                        <div class="col-sm-3" style="padding-left: 20px; font-size: medium;">
                            <span>City</span>
                        </div>
                        <div class="col-sm-4 col-sm-offset-2">
                            <form class="form">
                                <div class="form-group">
                                    <select name="city" id="city" class="form-control text-primary" style="height: 40px;font-size: large; border-radius: 10px;">
                                        <option *ngFor="let city of cities">{{city}}</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-2">
                            <form class="form">
                                <div class="form-group">
                                    <input [disabled]="true" type="text" class="form-control text-primary" style="height: 40px; font-size: large; border-radius: 10px;">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div style="padding-right: 15px;"><hr></div>
                    <div class="row" style="padding-top: 30px;">
                        <div class="col-sm-3" style="padding-left: 20px; font-size: medium;">
                            <span>Street & Number</span>
                        </div>
                        <div class="col-sm-4 col-sm-offset-2">
                            <form class="form">
                                <div class="form-group">
                                    <input type="text" class="form-control text-primary" style="height: 40px; font-size: large; border-radius: 10px;">
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-2">
                            <form class="form">
                                <div class="form-group">
                                    <input type="text" class="form-control text-primary" style="height: 40px; font-size: large; border-radius: 10px;">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div style="padding-right: 15px;"><hr></div>
                    <div class="row" style="padding-top: 30px; padding-bottom: 30px;">
                        <div class="col-sm-4" style="padding-left: 20px; font-size: medium;">
                            <span>Block, Entrance & Appartment</span>
                        </div>
                        <div class="col-sm-2 col-sm-offset-1">
                            <form class="form">
                                <div class="form-group">
                                    <input type="text" class="form-control text-primary" style="height: 40px; font-size: large; border-radius: 10px;">
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-2">
                            <form class="form">
                                <div class="form-group">
                                    <input type="text" class="form-control text-primary" style="height: 40px; font-size: large; border-radius: 10px;">
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-2">
                            <form class="form">
                                <div class="form-group">
                                    <input type="text" class="form-control text-primary" style="height: 40px; font-size: large; border-radius: 10px;">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>               
            </div>
        </div><br><br>
        <!-- Form -->

        <!-- Additional Details -->
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1 class="display-1 text-primary" style="font-size: 30px;">Additonal Details</h1>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-sm-4" style="font-size: medium;">
                        Contact Number
                    </div>
                    <div class="col-sm-5 col-sm-offset-3">
                        <input type="number" class="form-control text-primary" style="height: 40px; font-size: large; border-radius: 10px;">
                    </div>
                </div>
                <hr>
                <div style="padding-left: 10px; padding-top: 30px; padding-bottom: 10px;">
                    <div class="row">
                        <div class="col-sm-6">
                            <span style="font-size: medium;">Type of Business</span>
                            <p style="font-size: small;">For Business address your package will be delivered only during
                                <br>normal work days from 9:00 to 17:00
                            </p>
                        </div>
                        <div class="col-sm-6 text-primary" style="font-size: large;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="radio" name="typeOfBusiness" style="height: 25px; width: 25px;">&nbsp;Home
                                </div>
                                <div class="col-sm-6">
                                    <input type="radio" name="typeOfBusiness" style="height: 25px; width: 25px;">&nbsp;Business
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-sm-4" style="font-size: medium;">
                        Additional Notes
                    </div>
                    <div class="col-sm-7 col-sm-offset-1">
                        <textarea name="notes" id="notes" cols="30" rows="5" class="form-control" style="border-radius: 10px;font-size: medium;"></textarea>
                    </div>
                    <div class="col-sm-12" style="text-align: right; font-size: small;">Optional</div>
                </div>
            </div>            
        </div>
        <!-- Additional Details -->
        <div style="padding-left: 20px; padding-right: 20px; padding-top: 20px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-primary" style="border: gainsboro solid 1px; border-radius: 10px; font-size: large;">
                    <div style="padding-top: 30px; padding-left: 30px;">
                        <b>Estimated delivery in your area is 2 days</b>
                        <br>
                        <p><a href="">More info here</a></p>
                    </div>
                </div>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <button type="submit" class="btn-primary"  matStepperNext style="font-size: large; width: 80px; border-radius: 15px;">Next</button>
            </div>
        </div>        
    </div>
</body>
</html>