<mat-horizontal-stepper  (selectionChange)="change($event)" labelPosition="bottom" #stepper linear>
  
      <mat-step completed={{toggle1}}>
        <ng-template matStepLabel>Vehicle </ng-template>
        <app-v-info (OnRegister)="vehicleData($event)" (OnToggle)="toggle1=$event"></app-v-info>
      </mat-step>

      <mat-step completed={{toggle2}}>
        <ng-template matStepLabel>Insuring Party</ng-template>
        <app-insuring-party (OnRegister)="insuringPartyData($event)" (OnToggle)="toggle2=$event"></app-insuring-party>
      </mat-step>

      <mat-step completed={{toggle3}}>
        <ng-template matStepLabel>Policy Details</ng-template>
        <app-policy-details (OnRegister)="policyDetailsData($event)" (OnToggle)="toggle3=$event"></app-policy-details>
      </mat-step>

      <mat-step completed={{toggle4}}>
        <ng-template matStepLabel>Installments</ng-template>
        <app-installment (OnRegister)="installmentsData($event)" (OnToggle)="toggle4=$event"></app-installment>
      </mat-step>

      <mat-step completed={{toggle5}}>
        <ng-template matStepLabel>Covers</ng-template>
        <app-additional-covers (OnRegister)="coversData($event)" (OnToggle)="toggle5=$event"></app-additional-covers>
      </mat-step>

      <!-- <mat-step completed={{toggle6}}>
        <ng-template matStepLabel>Summary</ng-template>
        Summary
      </mat-step> -->

</mat-horizontal-stepper>
